/* PROPERTIES */

// Fonts

@font-face {
    font-family: "Candara";
    src: url(/Assets/Fonts/Candara.ttf) format("truetype");
}

@font-face {
    font-family: "ScriptMTBold";
    src: url(/Assets/Fonts/ScriptMTBold.ttf) format("truetype");
}

// Objects

$highlight-color: #0CB45D;
$highlight-font: Times New Roman, sans-serif;

body{
	font-family: arial;
	font-size: 16px !important;
}

h1 {
	font-size: 40px !important;
}

h5 {
	font-size: 21px !important;
}

h1,
h2,
h3,
h4,
h5 {
	color: $highlight-color;
	a {	
		color: $highlight-color; 
		::hover { color: $highlight-color; }
	}
	margin: 0;
	padding: 0;
}

h1 {
	font-family: "Candara";
}

a {
	text-decoration: none;
}

input,
img {
	max-width: 100%;
}

hr {
	margin: 0;
	margin-bottom: 20px;
}

// Colors

.white-color {
	color: #ffffff;
}

.highlight {
	color: $highlight-color;
}

.soft-color {
	color: #999999;
}

.hard-color {
	color: #666666;
}

.transparent {
	opacity: 0.95;
	filter: alpha(opacity=95);
}

// backgrounds

.white-background {
	background-color: #ffffff;
}

.lightgray-background {
	background-color: #d3d3d3;
}

.green-background {
	background-color: #0cb45d;
}

.background-no-repeat {
	background-repeat: no-repeat;
}

.background-center {
	background-position: center center;
}

.image-white-background {
	background-image: url('/Assets/IMG/TMP/background-white.png');
	background-repeat: repeat;
}

.image-gray-background {
	background-image: url('/Assets/IMG/TMP/background-gray.png');
	background-repeat: repeat;
}

// shapes

.rounded {
	border-radius: 10px;
}

.rounded-top {
	border-radius: 10px 10px 0px 0px;
}

.full-width {
	width: 100%;
}

.height1 {
	height: 100px;
}

.width1 {
	width: 100px;
}

.height2 {
	height: 200px;
}

.width2 {
	width: 200px;
}

.height3 {
	height: 300px;
}

.width3 {
	width: 300px;
}

.height4 {
	height: 400px;
}

.width4 {
	width: 400px;
}

.shadow {
	-webkit-box-shadow: 0 5px 10px #aaa;
	   -moz-box-shadow: 0 5px 10px #aaa;
	        box-shadow: 0 5px 10px #aaa;
}

.vertical-rotate {
	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		 -o-transform: rotate(-90deg);
		    transform: rotate(-90deg);

	-webkit-transform-origin: 50% 50%;
	   -moz-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		 -o-transform-origin: 50% 50%;
		    transform-origin: 50% 50%;

		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

// position

.padding-none {
	padding: 0;
}

.padding-small {
	padding: 10px;
}

.padding-big {
	padding: 20px;
}

.margin-none {
	margin: 0;
}

.margin-small {
	margin: 10px;
}

.margin-big {
	margin: 20px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.text-center {
	text-align: center;
}

.clear {
	width: 100%;
	height: 1px;
	margin: 0 0 -1px;
	clear: both;
}

// texts

.oblique {
	font-style: oblique;
}

// design

$button-font: Helvetica, sans-serif;
$cursive-font: Times, serif;

.category {
	background-color: #ffffff;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.category-image {
	background-image: url('/Assets/IMG/TMP/work.jpg');
	width: 200px;
	height: 200px;
}

.floater {
	display: block; 
	position: fixed;
	z-index: 100;

	h4 { 
		font-family: $button-font; 
		padding: 10px 20px; 
		color: #ffffff;
	}
}

.book-floater {
	top: 100px;
	right: -23px;
	h4 { background-color: #008943; }
}

.contact-floater {
	top: 275px;
	right: -35px;
	h4 { background-color: #008943; }
}

.faq-floater {
	top: 180px; 
	right: -28px;
	h4 { 
		background-color: white; 
		color: #008943;
	}
}

.header-image {
	height: 550px;	
	background-image: url('/Assets/IMG/TMP/top.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;

	img { margin-bottom: 10px; }

	.box {
		position: relative;
		margin-top: 10%;
		width: 40%;
		padding: 20px;
		background-color: #d3d3d3;

		#title-window-text {
			margin: 10px 0;
		}
	}
}

.header {
	padding: 20px 0px;

	.header-logo {
		max-width: 200px;
		min-width: 100px;
		width: 50%;
	}

	.header-text {
		width: 50%;
		font-family: $cursive-font;
		font-style: oblique;
		font-size: 130%;
		font-weight: bold;
		margin-left: 10%;
	}
}

.footer {
	padding: 10px;
	color: white;
	text-align: center;

	li {
		padding: 0px 20px !important;
		border-color: #ffffff !important;
	}
}

.footer-middle {
	color: #666666;
	text-align: left;
}

.info {
	padding: 40px 0;
	img { margin: 0 20px; }
}

.info-top {
	margin-top: -20px;
	padding-top: 70px;
	padding-bottom: 40px;
}

.map {
	padding: 15px; 
	background-color: white;

	.contact-info {
		text-align: center; 
		padding: 20px 0;
	}

	h4 {
		width: 100%;
		color: #a9a9a9;
	}
}


.menu {
	ul {
		list-style-type: none;
		margin: 13px 0;

		li {
			display: inline;
			border-left: 1px solid #00A14E;
			padding: 10px 20px;

			a { 
				text-decoration: none;
				//color: #ffffff;
				
				::hover {
					//color: #ffffff;
				} 
			}
		}

		li:first-child {
			border-left: none;
		}

		
	}
}

li.selected {
			border-top: 5px solid #008943;
		}

.testimonial {
	padding: 40px 15%;
	background-color: #ffffff;
	color: #a9a9a9;
}

.ScriptMTBold {
	font-family: "ScriptMTBold";
}

// Bootstrap overload

.carousel-control.right,
.carousel-control.left {
	font-size: 450%;
	margin-top: 5%;
	background-image: none !important;
}

@media (max-width: 768px) {
	h5 {
		font-size: 90% !important;
	}
}