/* ------
   TABLE 
   ------ */
table.js-hor-min {
  width: 100%;
  margin: 2%;
  text-align: left;
  border-collapse: collapse; }
  table.js-hor-min th {
    font-size: 115%;
    font-weight: normal;
    padding: 10px 8px;
    color: #6678b1;
    border-bottom: 2px solid #6678b1; }
  table.js-hor-min td {
    color: #6678b1;
    padding: 9px 8px 0px 8px; }
  table.js-hor-min td.btn {
    width: 10%; }
  table.js-hor-min tbody tr:hover td {
    color: #6678b1; }

table.js-hor-min2 {
  width: 100%;
  margin: 2%;
  text-align: left;
  border-collapse: collapse; }
  table.js-hor-min2 th {
    font-size: 115%;
    font-weight: normal;
    padding: 10px 8px;
    color: #6678b1;
    border-bottom: 2px solid #6678b1; }
  table.js-hor-min2 td {
    color: #6678b1;
    padding: 9px 8px 0px 8px;
    border-bottom: 1px solid #6678b1; }
  table.js-hor-min2 td.btn {
    width: 10%; }
  table.js-hor-min2 tbody tr:hover td {
    color: #6678b1; }

table.js-ver-min {
  margin: 2%;
  width: 100%;
  text-align: left;
  border-collapse: collapse; }
  table.js-ver-min th {
    padding: 8px 2px;
    font-weight: normal;
    font-size: 115%;
    border-bottom: 2px solid #6678b1;
    color: #6678b1; }
  table.js-ver-min td {
    padding: 12px 2px 0px 2px;
    color: #6678b1; }

table.js-hor-box {
  margin: 2%;
  width: 100%;
  text-align: left;
  border-collapse: collapse; }
  table.js-hor-box th {
    font-size: 115%;
    font-weight: normal;
    padding: 8px;
    background: #6678b1;
    border-top: 4px solid #6678b1;
    border-bottom: 1px solid #fff;
    color: #6678b1; }
  table.js-hor-box td {
    padding: 8px;
    background: #6678b1;
    border-bottom: 1px solid #fff;
    color: #6678b1;
    border-top: 1px solid transparent; }
  table.js-hor-box tr:hover td {
    background: #6678b1;
    color: #6678b1; }

table.js-ver-box {
  margin: 2%;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-top: 7px solid #6678b1;
  border-bottom: 7px solid #6678b1; }
  table.js-ver-box th {
    font-size: 115%;
    font-weight: normal;
    padding: 8px;
    background: #6678b1;
    border-right: 1px solid #6678b1;
    border-left: 1px solid #6678b1;
    color: #6678b1; }
  table.js-ver-box td {
    padding: 8px;
    background: #6678b1;
    border-right: 1px solid #6678b1;
    border-left: 1px solid #6678b1;
    color: #6678b1; }

tabe.js-hor-zebra {
  margin: 2%;
  width: 100%;
  text-align: left;
  border-collapse: collapse; }
  tabe.js-hor-zebra th {
    font-size: 115%;
    font-weight: normal;
    padding: 10px 8px;
    color: #6678b1; }
  tabe.js-hor-zebra td {
    padding: 8px;
    color: #6678b1; }
  tabe.js-hor-zebra .odd {
    background: #6678b1; }

