<!-- HomeBookingView.html -->

<div data-ng-include="'/Angular/Views/Partials/AdminSaveView.html'"></div>
<div data-ng-include="'/Angular/Views/Partials/AlertView.html'"></div>

<div data-ng-include="'/Angular/Views/Partials/TopImageWithBoxView.html'"></div>

<div class="image-white-background">
    <div class="container">
        <div data-ng-include="'/Angular/Views/Partials/CategoryBookView.html'"></div>
    </div>
</div>

<div class="gray-background">
    <div class="container">
        <div data-ng-include="'/Angular/Views/Partials/CalendarBookView.html'"></div>
    </div>
</div>

<div class="image-white-background">
    <div class="container">
        <div data-ng-include="'/Angular/Views/Partials/DescriptionBookView.html'"></div>
    </div>
    <div class="container divider">
        <img src="/Content/IMG/TMP/divider.png" />
    </div>
    <div class="container">
        <div data-ng-include="'/Angular/Views/Partials/ContactBookView.html'"></div>
    </div>
</div>

<!--<div class="info-top image-white-background" style="margin-bottom: 0;">
    <div class="container info">
        <h1 contenteditable="false" data-ng-model="texts['book-title'][0].text" data-compile="texts['book-title'][0].text"></h1>
        <div contenteditable="false" data-ng-model="texts['book-description'][0].text" data-compile="texts['book-description'][0].text" style="margin-bottom: 20px;"></div>
        <div class="row" style="margin-top: 40px">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h3 contenteditable="false" data-ng-model="texts['category-first'][0].text" data-compile="texts['category-first'][0].text"></h3>
                <select class="form-control" data-ng-model="category[1]" data-ng-options="cat as cat.data.name for cat in categories.children | orderBy: 'data.name'" data-ng-change="goToBooking()">
                    <option value="">-- Välj --</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" data-ng-show="category[1].children.length > 0">
                <h3 contenteditable="false" data-ng-model="texts['category-second'][0].text" data-compile="texts['category-second'][0].text"></h3>
                <select class="form-control" data-ng-model="category[2]" data-ng-options="cat as cat.data.name for cat in category[1].children | orderBy: 'data.name'">
                    <option value="">-- Välj --</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" data-ng-show="category[2].children.length > 0">
                <h3 contenteditable="false" data-ng-model="texts['category-third'][0].text" data-compile="texts['category-third'][0].text"></h3>
                <select class="form-control" data-ng-model="category[3]" data-ng-options="cat as cat.data.name for cat in category[2].children | orderBy: 'data.name'">
                    <option value="">-- Välj --</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="info image-gray-background">
    <div class="container info">

        <h1 contenteditable="false" data-ng-model="texts['about-title'][0].text" data-compile="texts['about-title'][0].text"></h1>
        <div contenteditable="false" data-ng-model="texts['about-description'][0].text" data-compile="texts['about-description'][0].text" style="margin-bottom: 20px;"></div>

        <textarea style="width: 100%; height: 300px" class="form-control" placeholder="{{ texts['mission-description'][0].text }}" data-ng-model="mission.description"></textarea>
        <br />

        <label>{{mission.description.length}}/150 tecken</label>

        <br />
        <div data-ng-switch="input.type" data-ng-repeat="input in inputs">
            <label data-ng-switch-when="radio" class="form-control">
                <input type="radio" data-ng-model="input.value" />
                {{ input.text }}
            </label>
            <label data-ng-switch-when="checkbox" class="form-control">
                <input type="checkbox" data-ng-model="input.value" />
                {{ input.text }}
            </label>
            <input type="text" class="form-control" placeholder="{{ input.text }}" data-ng-switch-default="" data-ng-model="input.value" />
        </div>
    </div>
</div>

<div class="info image-white-background">
    <div class="container info">
        <h1 contenteditable="false" data-ng-model="texts['calendar-title'][0].text" data-compile="texts['calendar-title'][0].text"></h1>
        <div contenteditable="false" data-ng-model="texts['calendar-description'][0].text" data-compile="texts['calendar-description'][0].text" style="margin-bottom: 20px;"></div>

        <div data-ui-calendar="uiConfig.calendar" data-ng-model="eventSources" data-calendar="myCalendar" class="span12">
        </div>

        <label>
            <strong>Valt datum:</strong>
            {{ selectedEvent.start | date:'yyyy-MM-dd HH:mm' }}
        </label>
    </div>
</div>

<div class="info image-gray-background">
    <div class="container info">

        <h1 contenteditable="false" data-ng-model="texts['input-title'][0].text" data-compile="texts['input-title'][0].text"></h1>
        <div contenteditable="false" data-ng-model="texts['input-description'][0].text" data-compile="texts['input-description'][0].text" style="margin-bottom: 20px;"></div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="btn-group">
                <button type="button" class="btn btn-default" data-ng-class="{'btn-success': isCompanyCustomer()}" data-ng-model="customer.type" data-btn-radio="'company'">Företag</button>
                <button type="button" class="btn btn-default" data-ng-class="{'btn-success': !isCompanyCustomer()}" data-ng-model="customer.type" data-btn-radio="'private'">Privat</button>
            </div>
            <br />
            <br />

            <form class="form-inline" role="form">

                <div data-ng-show="isCompanyCustomer()">
                    <input class="form-control" type="text" data-ng-model="customer.organisationNumber" placeholder="Organisationsnummer *" data-tooltip-placement="top" data-tooltip="{{ texts['input-organisationNumber-description'][0].text }}" />
                    <input class="form-control" type="text" data-ng-model="customer.companyName" placeholder="Företagsnamn *" data-tooltip-placement="top" data-tooltip="{{ texts['input-companyName-description'][0].text }}" />
                </div>

                <div data-ng-show="!isCompanyCustomer()">
                    <input class="form-control pull-left" style="width: 50%" type="text" data-ng-model="customer.firstName" placeholder="Förnamn *" data-tooltip-placement="top" data-tooltip="{{ texts['input-firstName-description'][0].text }}" />
                    <input class="form-control pull-left" style="width: 50%" type="text" data-ng-model="customer.lastName" placeholder="Efternamn *" data-tooltip-placement="top" data-tooltip="{{ texts['input-lastName-description'][0].text }}" />
                    <input class="form-control" type="text" data-ng-model="customer.personalNumber" placeholder="Personnummer *" data-tooltip-placement="top" data-tooltip="{{ texts['input-personalNumber-description'][0].text }}" />
                    <input class="form-control" type="text" data-ng-model="customer.propertyName" placeholder="Fastighetsbeteckning *" data-tooltip-placement="top" data-tooltip="{{ texts['input-propertyName-description'][0].text }}" />
                </div>

                <input class="form-control" type="email" data-ng-model="customer.emailAddress" placeholder="Epost *" data-tooltip-placement="top" data-tooltip="{{ texts['input-emailAddress-description'][0].text }}" />
                <input class="form-control" type="tel" data-ng-model="customer.phoneNumber" placeholder="Mobilnummer *" data-tooltip-placement="top" data-tooltip="{{ texts['input-phoneNumber-description'][0].text }}" />

                <br />
                <br />

                <div class="input-group">
                    <input class="form-control" type="text" data-ng-model="mission.fullAddress" placeholder="Sök adress" data-tooltip-placement="top" data-tooltip="{{ texts['input-fullAddress-description'][0].text }}" data-googleplace="" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                </div>

                <input class="form-control pull-left" style="width: 50%" type="text" data-ng-model="mission.address.street" placeholder="Gata" />
                <input class="form-control pull-left" style="width: 50%" type="text" data-ng-model="mission.address.streetNumber" placeholder="Gatunummer" />
                <input class="form-control pull-left" style="width: 50%" type="text" data-ng-model="mission.address.postalCode" placeholder="Postnummer" />
                <input class="form-control pull-left" style="width: 50%" type="text" data-ng-model="mission.address.postalTown" placeholder="Ort" />
                <!--<input class="form-control" type="text" data-ng-model="mission.address.area" placeholder="Län" />
                <!--<input class="form-control" type="text" data-ng-model="mission.address.country" placeholder="Land" />
            </form>
        </div>
    </div>
</div>

<div class="info image-white-background">
    <div class="info" style="padding: 40px 0; text-align: center;">
        <button class="btn btn-lg highlight-background" style="color: white;" data-ng-click="order()" contenteditable="false" data-ng-model="texts['book-button'][0].text" data-compile="texts['book-button'][0].text">
            Beställ</button>
        <br />
        <div data-ng-show="isAdmin" contenteditable="false" data-ng-model="texts['book-button'][0].text" data-compile="texts['book-button'][0].text">
        </div>
        <br />
        <button class="btn btn-default" data-ng-click="dibs()">DIBS</button>
        <button class="btn btn-default" data-ng-click="sendSMS()">SMS</button>
    </div>
</div>-->

<!--<div>
    <form method="post" action="https://sat1.dibspayment.com/dibspaymentwindow/entrypoint" target="_blank">

        <input type="hidden" name="test" value="1" />

        <input type="hidden" name="merchant" value="90151568" />
        <input type="hidden" name="currency" value="SEK" />
        <input type="hidden" name="orderId" value="213455" />
        <input type="hidden" name="amount" value="375" />
        <input type="hidden" name="language" value="sv_SE" />

        <input type="hidden" name="billingFirstName" value="John" />
        <input type="hidden" name="billingLastName" value="Doe" />
        <input type="hidden" name="billingAddress" value="Danderydsgatan 28" />
        <input type="hidden" name="billingPostalCode" value="11426" />
        <input type="hidden" name="billingPostalPlace" value="Stockholm" />
        <input type="hidden" name="billingEmail" value="misael@jobsystems.se" />
        <input type="hidden" name="billingMobile" value="+46704333005" />

        <input type="hidden" name="oiTypes" value="QUANTITY;UNITCODE;DESCRIPTION;AMOUNT;ITEMID;VATAMOUNT" />
        <input type="hidden" name="oiNames" value="Items;UnitCode;Description;Amount;ItemId;VatAmount" />
        <input type="hidden" name="oiRow1" value="1;pcs;ACME Rocket Roller skates\; ultra fast;100;98;25" />
        <input type="hidden" name="oiRow2" value="1;pcs;ACME Band Aid;100;99;25" />
        <input type="hidden" name="oiRow3" value="1;pcs;Some description;100;45;25" />

        <input type="hidden" name="acceptReturnUrl" value="https://yourdomain.com/acceptReturnUrl" />
        <input type="hidden" name="cancelReturnUrl" value="https://yourdomain.com/cancelReturnUrl" />
        <input type="hidden" name="callbackUrl" value="https://yourdomain.com/callbackUrl" />

        <input type="submit" value="skicka" />
    </form>
</div>-->
