<!-- HomeLandingView.html -->

<div data-ng-include="'/Angular/Views/Partials/AdminSaveView.html'"></div>
<div data-ng-include="'/Angular/Views/Partials/AlertView.html'"></div>

<div data-ng-include="'/Angular/Views/Partials/TopImageWithBoxView.html'"></div>

<div class="gray-background">
    <div class="container">
        <div data-ng-include="'/Angular/Views/Partials/PriceView.html'"></div>
    </div>
</div>

<div class="image-white-background">
    <div class="container">
        <div data-ng-include="'/Angular/Views/Partials/WhyView.html'"></div>
    </div>
    <div class="container divider">
        <img src="/Content/IMG/TMP/divider.png" />
    </div>
</div>

<div class="image-white-background">
    <div class="container">
        <div data-ng-include="'/Angular/Views/Partials/AboutView.html'"></div>
    </div>
</div>

<div class="gray-background">
    <div class="container">
        <div data-ng-include="'/Angular/Views/Partials/TestimonialsView.html'"></div>
    </div>
</div>

<div class="image-white-background">
    <div class="container">
        <div data-ng-include="'/Angular/Views/Partials/BookNowView.html'"></div>
    </div>
</div>