<div class="green-background">
    <div class="wrapper menu footer">
        <ul>
            <li>Hem</li>
            <li>Trädgård</li>
            <li>Barnvakt</li>
            <li>Städning</li>
            <li>Snöskottning</li>
            <li>Läxhjälp</li>
            <li>Övrigt</li>
        </ul>
        <ul>
            <li>Därför</li>
            <li>Om oss</li>
            <li>Kontakt</li>
            <li>FAQ</li>
            <li>Boka</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>

<div class="image-gray-background">
    <div class="wrapper footer footer-middle">
        <div>
            <label>Danderydsgatan 28, 12 1212 Stockholm</label>
            <label>info@jobsystems.se</label>
            <label>070 - 03 03 003</label>
        </div>
    </div>
</div>

<div class="green-background">
    <div class="wrapper footer">
        <label>Copyright Adoer 2013</label>
    </div>
    <div class="clear"></div>
</div>
