<!-- AboutView.html -->

<div
    class="container"
    data-ng-controller="AboutController">

    <div
        class="row">
        <div
            class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <img
                class="img-thumbnail shadow"
                src="/Content/IMG/TMP/person.jpg"
                style="width: 100%; margin: 0;" />
        </div>

        <div
            class="col-xs-12 col-sm-7 col-md-7 col-lg-7"
            style="padding-left: 10px">

            <h1
                id="about-title"
                contenteditable="false"
                data-ng-model="texts['about-title'][0].text"
                data-compile="texts['about-title'][0].text"></h1>
            <div
                id="about-short"
                contenteditable="false"
                data-ng-model="texts['about-short'][0].text"
                data-compile="texts['about-short'][0].text">
            </div>
            <h5>
                <a id="about-read-more"
                    contenteditable="false"
                    data-ng-model="texts['about-read-more'][0].text"
                    data-compile="texts['about-read-more'][0].text"></a>
            </h5>
        </div>
    </div>

    <div
        data-ng-show="isAdmin"
        style="text-align: right">
        <button
            class="btn btn-danger btn-lg"
            data-ng-click="save()">
            Spara ändringar</button>
    </div>

</div>
