<!-- HomeIndexBodyView.html -->

<div data-ng-include="" data-src="'Angular/Views/TitleWindowView.html'" style="width: 100%"></div>

<div class="info-top" style="margin-bottom: 0;">

    <div data-ng-include="" data-src="'Angular/Views/ServicesView.html'"></div>
    <hr />
    <div data-ng-include="" data-src="'Angular/Views/PriceView.html'" class="info"></div>
    <hr />
    <div data-ng-include="" data-src="'Angular/Views/WhyView.html'" class="info"></div>
    <hr />
    <div data-ng-include="" data-src="'Angular/Views/AboutView.html'" class="info"></div>
    <hr />
    <div data-ng-include="" data-src="'Angular/Views/MapView.html'" class="info"></div>
    <hr />
    <div data-ng-include="" data-src="'Angular/Views/TestimonialsView.html'" class="info"></div>
</div>

<div data-ng-include="" data-src="'Angular/Views/BookNowView.html'"></div>