<div data-ng-controller="DatabaseTableAdministratorsController">

    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>
                    <button data-ng-click="open(null)" class="btn"><i class="icon-plus"></i></button>
                </th>
                <th data-ng-click="sort('id')" class="sortOption">Id</th>
                <th data-ng-click="sort('username')" class="sortOption">Användarnamn</th>
                <th data-ng-click="sort('emailAddress')" class="sortOption">Epostadress</th>
                <th data-ng-click="sort('created')" class="sortOption">Skapad</th>
                <th>Ändra</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="admin in administrators | orderBy: orderOption">
                <td>
                    <button data-ng-click="delete(admin.id)" class="btn"><i class="icon-trash"></i></button>
                </td>
                <td>{{ admin.id }}</td>
                <td>{{ admin.username }}</td>
                <td>{{ admin.emailAddress }}</td>
                <td>{{ admin.created }}</td>
                <td>
                    <button data-ng-click="open(admin.id)" class="btn"><i class="icon-pencil"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <div modal="shouldBeOpen" close="close()" options="opts">
        <div class="modal-header">
            <h4>{{ currentAdmin.username }}</h4>
        </div>
        <div class="modal-body">
            <form>
                <table class="table table-striped table-condensed">
                    <tr>
                        <td>
                            <label>Användarnamn:</label></td>
                        <td>
                            <input type="text" data-ng-model="currentAdmin.username" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>Epost-adress:</label></td>
                        <td>
                            <input type="email" data-ng-model="currentAdmin.emailAddress" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>Aktiverad:</label></td>
                        <td>
                            <input type="checkbox" data-ng-model="currentAdmin.enabled" /></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-ng-click="save(currentAdmin.id)">Save</button>
            <button class="btn" data-ng-click="remove(currentAdmin.id)">Delete</button>
            <button class="btn" data-ng-click="close()">Cancel</button>
        </div>
    </div>

</div>
