<div class="floater contact-floater">
    <h4 class="shadow vertical-rotate rounded-top">Kontakt</h4>
</div>

<div class="floater faq-floater">
    <h4 class="shadow vertical-rotate rounded-top">F.A.Q.</h4>
</div>

<div class="floater book-floater">
    <h4 class="shadow vertical-rotate rounded-top">Boka</h4>
</div>


<div class="header-image shadow">
    <div class="wrapper">
        <div class="box transparent float-right rounded">
            <img src="Assets/IMG/Logo/adoer.png" width="150px" />
            <p 
                compile="html"
                contenteditable="true" 
                data-ng-model="texts['box-text'][0].text">
                {{ texts['box-text'][0].text }}
            </p>
            <input type="text" />
            <button 
                class="btn"
                data-admin-bind-html="texts['book-text'][0].text">
                {{ texts['book-text'][0].text }}
            </button>
        </div>
    </div>
</div>

<div class="info-top image-white-background">
    <div class="wrapper">
        <h1 
            data-admin-bind-html="texts['order-title'][0].text">
            {{ texts['order-title'][0].text }}
        </h1>
        <hr />
        <p 
            data-admin-bind-html="texts['order-text'][0].text">
            {{ texts['order-text'][0].text }}
        </p>

        <div data-ng-repeat="category in output.categories" class="category rounded shadow float-left">
            <div class="category-image"></div>
            <h5>
                <a href="#/category/{{ category.id }}">{{ category.name }}
                </a>
            </h5>
        </div>
        
        <div class="clear"></div>
    </div>
</div>

<div class="info image-gray-background">
    <div class="wrapper">
        <h1>About Adoer</h1>
        <hr />
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
</div>

<div class="info image-white-background">
    <div class="wrapper">
        <h1>Therefor Adoer</h1>
        <hr />
        <img class="rounded float-right" src="Assets/IMG/TMP/person.jpg" style="width: 400px" />
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        <h5>
            <a>Read more...
            </a>
        </h5>
    </div>
    <div class="clear"></div>
</div>

<div class="info image-white-background">
    <div class="wrapper">
        <h1>How it works</h1>
        <hr />
        <img class="rounded float-left" src="Assets/IMG/TMP/person.jpg" style="width: 400px" />
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        <h5>
            <a>Read more...
            </a>
        </h5>
    </div>
    <div class="clear"></div>
</div>

<div class="info image-gray-background">
    <div class="wrapper">
        <h1>Testimonials</h1>
        <hr />
        <div class="testimonial rounded shadow">
            <p>
                <span class="quote">"</span>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                <span class="quote">"</span>
            </p>
        </div>
        <hr style="margin: 40px 0px" />
        <div data-ng-repeat="hej in [1, 2, 3, 4, 5]">
            <img src="Assets/IMG/TMP/dn.png" style="height: 50px; float: left;" />
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="info image-white-background">
    <div class="wrapper">
        <h1>Contact us</h1>
        <hr />
        <div class="map rounded shadow">
            <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="false" refresh="refresh" style="height: 500px; width: 100%; display: block;"></google-map>
            <div class="contact-info">
                <h4>
                    <span style="float: left">
                    <i class="icon-map-marker"></i> Danderydsgatan 28, 111 11 Stockholm
                    </span>
                    <span>
                    <i class="icon-info-sign"></i> 08 - 11 11 11
                    </span>
                    <span style="float: right">
                    <i class="icon-envelope"></i> info@jobsystems.se
                    </span>
                </h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="image-white-background text-center padding-big">
    <input type="text" />
    <button class="btn">Book Now</button>
</div>
