<div data-ng-controller="HomeIndexBodyController" class="image-white-background">
    
    <div data-ng-include="" data-src="'assets/js/partials/partview/Menu.html'" style="width: 100%"></div>
    <div data-ng-include="" data-src="'assets/js/partials/partview/TitleWindow2.html'" style="width: 100%"></div>

    <div class="info-top" style="margin-bottom: 0;">
        <div data-ng-include="" data-src="'assets/js/partials/partview/services2.html'"></div>
        <hr />
        <div data-ng-include="" data-src="'assets/js/partials/partview/price2.html'" class="info"></div>
        <hr />
        <div data-ng-include="" data-src="'assets/js/partials/partview/why2.html'" class="info"></div>
        <hr />
        <div data-ng-include="" data-src="'assets/js/partials/partview/about2.html'" class="info"></div>
        <hr />
        <div data-ng-include="" data-src="'assets/js/partials/partview/map2.html'" class="info"></div>
        <hr />
        <div data-ng-include="" data-src="'assets/js/partials/partview/testimonials2.html'" class="info"></div>
        <!--<div data-ng-include="" data-src="'assets/js/partials/partview/media2.html'" class="info"></div>-->
    </div>

    <div data-ng-include="" data-src="'assets/js/partials/partview/booknow2.html'"></div>

</div>
