<div data-ng-controller="HomeIndexBodyController" class="image-white-background">
    
    <div data-ng-include="" data-src="'assets/js/partials/partview/Menu.html'" style="width: 100%"></div>
    <div data-ng-include="" data-src="'assets/js/partials/partview/TitleWindow.html'" style="width: 100%"></div>

    <div class="info-top" style="margin-bottom: 0;">
        <div data-ng-include="" data-src="'assets/js/partials/partview/services.html'"></div>
        <hr />
        <div data-ng-include="" data-src="'assets/js/partials/partview/price.html'" class="info"></div>
        <hr />
        <div data-ng-include="" data-src="'assets/js/partials/partview/why.html'" class="info"></div>
        <hr />
        <div data-ng-include="" data-src="'assets/js/partials/partview/about.html'" class="info"></div>
        <hr />
        <div data-ng-include="" data-src="'assets/js/partials/partview/map.html'" class="info"></div>
        <hr />
        <div data-ng-include="" data-src="'assets/js/partials/partview/testimonials.html'" class="info"></div>
        <!--<div data-ng-include="" data-src="'assets/js/partials/partview/media2.html'" class="info"></div>-->
    </div>

    <div data-ng-include="" data-src="'assets/js/partials/partview/booknow.html'"></div>

    <div data-ng-include="" data-src="'assets/js/partials/partview/footer.html'"></div>

</div>

<div data-ng-include="" data-src="'assets/js/partials/partview/alert.html'"></div>
