<!-- partials/HomeLandingPage.html -->

<div data-ng-controller="HomeLandingPageController">
    <div data-ng-include="" data-src="'assets/js/partials/partview/titlewindow.html'" class="header-image shadow"></div>
    <div data-ng-include="" data-src="'assets/js/partials/partview/price.html'" class="info image-gray-background"></div>
    <div data-ng-include="" data-src="'assets/js/partials/partview/why.html'" class="info image-white-background"></div>
    <div data-ng-include="" data-src="'assets/js/partials/partview/about.html'" class="info image-gray-background"></div>
    <div data-ng-include="" data-src="'assets/js/partials/partview/map.html'" class="info image-white-background"></div>
    <div data-ng-include="" data-src="'assets/js/partials/partview/testimonials.html'" class="info image-gray-background"></div>
    <div data-ng-include="" data-src="'assets/js/partials/partview/media.html'" class="info image-gray-background"></div>
    <div data-ng-include="" data-src="'assets/js/partials/partview/booknow.html'" class="info image-white-background"></div>
</div>
