<div data-ng-controller="GardenInputFormCtrl">
    <div>
        <div style="width: 70%">
            <table style="width: 100%">
                <tr>
                    <td style="width: 25%; font-weight: bold;">1. Välj uppgifter</td>
                    <td style="width: 25%">2. Välj utförare</td>
                    <td style="width: 25%">3. Fyll i personlig information</td>
                    <td style="width: 25%">4. Bekräfta order</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="progress progress-warning progress-striped">
                            <div class="bar" style="width: 25%;"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <hr />

    <div>
        <h2>Trädgård</h2>
        <div class="input-append">
            <input type="text" class="input-xxlarge search-input" placeholder="Vad vill du ha hjälp med?" data-ng-model="searchTerm" />
            <div class="search-result">
                <ul>
                    <li data-ng-repeat="task in tasks | orderBy:'name' | filter:searchTerm" data-ng-click="addTask(task)">
                        <label>{{ task.name }}</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="well" data-ng-show="selectedTasks.length > 0">
            <div class="label label-warning" data-ng-repeat="task in selectedTasks" style="margin: 2px 2px; padding: 4px 10px">
                <table>
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>
                            <button class="close" data-ng-click="removeTask(task.value)">&times;</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <hr />

    <div>
        <h2>Utförare:</h2>
        <ul class="thumbnails">
            <li class="span4" data-ng-repeat="performer in performers" data-ng-click="addPerformer(performer.id)">
                <div>
                    <div class="well performer-overview-top">
                        <h3>{{ performer.firstName }} {{ performer.lastName }}</h3>
                    </div>
                    <img src="/Assets/img/performer-default.png" class="img-polaroid performer-overview-image" />
                    <div class="well performer-overview-bottom">
                        <table>
                            <tr>
                                <td>Ålder:</td>
                                <td>{{ getAge(performer.birthDate) }} år</td>
                            </tr>
                            <tr>
                                <td>Aktiv sedan:</td>
                                <td>{{ getDate(performer.created) }}</td>
                            </tr>
                            <tr>
                                <td>Senast aktiv:</td>
                                <td>2014-02-30</td>
                            </tr>
                        </table>
                        <div style="float: right;" data-ng-show="performerIsSelected(performer.id)">
                            <i class="icon-ok" style="margin: auto;"></i>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <hr />

    <div>
        <h2>Personlig info:</h2>
        <table>
            <tr>
                <td>
                    <label>Personnummer:</label></td>
                <td>
                    <input type="text" /></td>
            </tr>
        </table>
    </div>

</div>
