<div class="view">
    <div class="category-book-view">
        <div class="category-one">
            <h1>category-one</h1>
            <div>
                <button class="btn green-button" data-ng-repeat="cat in categories.children | orderBy: 'data.order'" data-ng-click="goToBooking(cat)">
                    {{ cat.data.name }}
                </button>
            </div>
        </div>
        <div class="category-two" data-ng-show="category[1].children.length > 0">
            <hr />
            <h1>category-two</h1>
            <div>
                <button class="btn green-button" data-ng-repeat="cat in category[1].children | orderBy: 'data.name'" data-ng-click="category[2] == cat">
                    {{ cat.data.name }}
                </button>
            </div>
        </div>
        <div class="category-three" data-ng-show="category[2].children.length > 0">
            <hr />
            <h1>category-three</h1>
            <div>
                <button class="btn green-button" data-ng-repeat="cat in category[2].children | orderBy: 'data.name'" data-ng-click="category[3] == cat">
                    {{ category.data.name }}
                </button>
            </div>
        </div>
    </div>
</div>