<h1 contenteditable="false" data-ng-model="texts['map-title'][0].text" data-compile="texts['map-title'][0].text"></h1>
<div contenteditable="false" data-ng-model="texts['map-short'][0].text" data-compile="texts['map-short'][0].text">
</div>
<div class="thumbnail shadow full-width">
    <div class="google-maps" data-google-map="" data-center="center" draggable="false" data-zoom="zoom" data-markers="markers" data-mark-click="false" data-refresh="refresh">
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center">
            <h5 contenteditable="false" data-ng-model="texts['map-address'][0].text" data-compile="texts['map-address'][0].text"></h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center">
            <h5 contenteditable="false" data-ng-model="texts['map-phone-number'][0].text" data-compile="texts['map-phone-number'][0].text"></h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center">
            <h5 contenteditable="false" data-ng-model="texts['map-email'][0].text" data-compile="texts['map-email'][0].text"></h5>
        </div>
    </div>
</div>
