<!-- MenuView.html -->

<div class="highlight-background menu">

    <div class="container visible-sm visible-md visible-lg">
        <a href="#">
            <img src="/Content/IMG/Logo/adoer-white.png" class="pull-left menu-logo" />
        </a>
        <ul>
            <li>
                <a href="#">Hem</a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>

    <div class="container visible-xs menu-small">
        <img src="/Content/IMG/Logo/adoer-white.png" class="pull-left" />
        <button class="dropdown-toggle btn btn-default" data-toggle="dropdown">
            <span class="glyphicon glyphicon-list"></span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Hem</a></li>
        </ul>
    </div>

</div>
