<div class="view">
    <div class="testimonial-view">
        <div class="view-title">
            <h1>testimonial-title</h1>
        </div>
        <div class="testimonial-box">
            <div data-carousel="" data-interval="5000">
                <div data-slide="" data-ng-repeat="testimonial in testimonials" data-active="testimonial.active">
                    <span class="testimonial-quote">&ldquo;</span>    
                    {{ testimonial.text }}
                    <span class="testimonial-quote">&bdquo;</span>
                </div>
            </div>
        </div>
    </div>
</div>
