<div class="top no-image">
    <div class="container">
        <div class="top-box pull-right">
            <img src="/Content/IMG/Logo/adoer.png"/>
            <p>title-window-text</p>
            <form class="form-inline" role="form">
                <input class="form-control top-box-input" type="text" data-ng-model="input.postalCode" placeholder="Postnummer" />
                <button class="btn green-button" data-ng-click="goToBooking(input.postalCode)">
                    title-window-button
                </button>
            </form>
        </div>
    </div>
</div>