<div class="view">
    <div class="why-view">
        <div class="view-title">
            <h1>why-title</h1>
        </div>
        <div class="row">
            <div class="view-content col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <p>why-short</p>
                <button class="btn view-button green-button">why-read-more...</button>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <img class="view-image" src="/Content/IMG/TMP/no-image.png" />
                <p class="view-image-text">why-image-text</p>
            </div>
        </div>
    </div>
</div>
