.highlight-background {
	background-color: $color-highlight;
}

.image-white-background {
	background-image: url('/Content/IMG/TMP/background-white.png');
	background-repeat: repeat;
}

.image-gray-background {
	background-image: url('/Content/IMG/TMP/background-gray.png');
	background-repeat: repeat;
}


