@font-face {
    font-family: "Candara";
    src: url(/Content/Fonts/Candara.ttf) format("truetype");
}

@font-face {
    font-family: "ScriptMTBold";
    src: url(/Content/Fonts/ScriptMTBold.ttf) format("truetype");
}

@font-face {
    font-family: "MyriadPro";
    src: url(/Content/Fonts/MyriadPro.ttf) format("truetype");
}
