.shadow {
	-webkit-box-shadow: 0 5px 10px #aaa;
	   -moz-box-shadow: 0 5px 10px #aaa;
	        box-shadow: 0 5px 10px #aaa;
}

.highlight-shadow {
	-webkit-box-shadow: 0 5px 10px #2F8B12;
	   -moz-box-shadow: 0 5px 10px #2F8B12;
	        box-shadow: 0 5px 10px #2F8B12;
}