/* PROPERTIES */
h1,
h2,
h3,
h4 {
  font-family: Times New Roman, sans-serif; }
  h1 a,
  h2 a,
  h3 a,
  h4 a {
    color: #0cb45d; }

a {
  text-decoration: none; }

input,
img {
  max-width: 100%; }

hr {
  margin-bottom: 20px; }

.white-color {
  color: white; }

.highlight {
  color: #0cb45d; }

.soft-color {
  color: #999999; }

.hard-color {
  color: #666666; }

.transparent {
  opacity: 0.95;
  filter: alpha(opacity=95); }

.white-background {
  background-color: white; }

.lightgray-background {
  background-color: lightgray; }

.background-no-repeat {
  background-position: center center; }

.background-center {
  background-repeat: no-repeat; }

.image-white-background {
  background-image: url("/Assets/IMG/TMP/background-gray.png");
  background-repeat: repeat; }

.image-gray-background {
  background-image: url("/Assets/IMG/TMP/background-white.png");
  background-repeat: repeat; }

.rounded {
  border-radius: 10px; }

.top-rounded {
  border-radius: 10px 10px 0px 0px; }

.full-width {
  width: 100%; }

.short {
  width: 100px; }

.normal {
  width: 200px; }

.long {
  width: 300px; }

.longer {
  width: 400px; }

.shadow {
  -webkit-box-shadow: 0 5px 10px #aaa;
  -moz-box-shadow: 0 5px 10px #aaa;
  box-shadow: 0 5px 10px #aaa; }

.vertical-rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

.padding-none {
  padding: 0; }

.padding-small {
  padding: 10px; }

.padding-big {
  padding: 20px; }

.margin-none {
  margin: 0; }

.margin-small {
  margin: 10px; }

.margin-big {
  margin: 20px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.text-center {
  text-align: center; }

.clear {
  width: 100%;
  height: 1px;
  margin: 0 0 -1px;
  clear: both; }

.oblique {
  font-style: oblique; }

.category-image {
  background-image: url("/Assets/IMG/TMP/work.jpg");
  width: 200px;
  height: 200px; }

.floater {
  display: block;
  position: fixed;
  z-index: 100; }
  .floater .text {
    padding: 10px 20px; }
  .floater .faq-floater {
    top: 50px;
    right: -22px; }
    .floater .faq-floater .text {
      background-color: red; }
  .floater .contact-floater {
    top: 135px;
    right: -30px; }
    .floater .contact-floater .text {
      background-color: orange; }

.header-container,
.footer-container {
  margin: 0;
  background: #ececec; }

.header-image {
  height: 550px;
  background-image: url("/Assets/IMG/TMP/top.jpg");
  position: relative; }
  .header-image .box {
    position: relative;
    margin-top: 10%;
    width: 45%; }

.header {
  padding: 30px 0px; }
  .header .logo {
    max-width: 300px;
    min-width: 100px;
    width: 20%;
    margin-right: 10%; }
  .header .text {
    width: 70%;
    font-family: Times, serif;
    font-size: 130%;
    font-weight: bold; }

.info {
  padding: 40px 0; }
  .info img {
    margin: 0 20px; }

.info-top {
  margin-top: -20px;
  padding-top: 70px;
  padding-bottom: 40px; }

.testimonial {
  padding: 20px 15%;
  font-size: 120%;
  font-family: Times, serif; }
  .testimonial .quote {
    font-size: 150%; }

