<div class="menu" data-ng-show="auth.loggedIn">
    <ul>
        <li data-ng-repeat="menuOption in menuOptions | orderBy:'name'">
            <a data-ng-click="navigate(menuOption.destination)" data-ng-class="{selected: location.path() == menuOption.destination}">
                <i class="{{ menuOption.icon }}" data-ng-class="{'icon-white': location.path() != menuOption.destination}"></i>
                {{ menuOption.name }}
            </a>
        </li>
    </ul>
    <div class="menuLogout">
        <ul>
            <li>
                <a data-ng-click="logOut()">
                    <i class="icon-arrow-right icon-white"></i>
                    Logga ut, {{ auth.username }}
                </a>
            </li>
        </ul>
    </div>
</div>
