<div data-ng-controller="FooterController">
    <div class="green-background">
        <div style="border-top: 1px solid green;">
            <div class="container" style="padding: 10px 0; text-align: center; color: white;">
                <ul style="list-style: none">
                    <li data-ng-repeat="category in categories" style="display: inline-block; padding: 0 10px;">{{ category.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="image-gray-background ScriptMTBold" style="color: gray;">

        <div class="container" style="padding: 10px 0">
            <span>Danderydsgatan 28, 12313 Stockholm
            <br />
                info@jobsystems.se
            <br />
                070 - 03 03 003
            </span>
        </div>

        <div class="container" style="padding: 10px 0; text-align: center;">
            <span>&copy; Copyright Adoer 2013</span>
        </div>

    </div>
</div>
