<div
    class="green-background"
    style="position: fixed; top: 0; z-index: 1000; width: 100%;">

    <div
        class="image-gray-background">
        <div
            class="container">
            <img src="/Assets/IMG/Logo/adoer.png" style="height: 50px; margin: 10px" class="pull-left" />
            <h2
                class="ScriptMTBold pull-left visible-sm visible-md visible-lg"
                style="color: gray; margin-top: 30px; margin-bottom: 0; margin-left: 20px">60 sekunder att boka, 60 minuter att få hjälp
            </h2>
        </div>
    </div>

    <div class="container visible-sm visible-md visible-lg">
        <ul style="-webkit-padding-start: 0px; list-style-type: none; margin: 10px 0px">
            <li style="display: inline; padding: 10px 10px;">
                <a href="#" style="color: white; border-top: 4px solid #008840; padding: 8px 5px; text-decoration: none">Hem</a>
            </li>
            <li style="display: inline; padding: 10px 10px;">
                <a href="#" style="color: white; text-decoration: none">Våra tjänster</a>
            </li>
            <li style="display: inline; padding: 10px 10px;">
                <a href="#" style="color: white; text-decoration: none">Pris</a>
            </li>
            <li style="display: inline; padding: 10px 10px;">
                <a href="#" style="color: white; text-decoration: none">Varför Adoer</a>
            </li>
            <li style="display: inline; padding: 10px 10px;">
                <a href="#" style="color: white; text-decoration: none">Om oss</a>
            </li>
            <li style="display: inline; padding: 10px 10px;">
                <a href="#" style="color: white; text-decoration: none">Kontakt</a>
            </li>
            <li style="display: inline; padding: 10px 10px;">
                <a href="#" style="color: white; text-decoration: none">Referenser</a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>

    <div
        class="container visible-xs">

        <button class="dropdown-toggle btn btn-default" data-toggle="dropdown">
            <span class="glyphicon glyphicon-list"></span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Hem</a></li>
            <li><a href="#">Våra tjänster</a></li>
            <li><a href="#">Pris</a></li>
            <li><a href="#">Varför Adoer</a></li>
            <li><a href="#">Om oss</a></li>
            <li><a href="#">Kontakt</a></li>
            <li><a href="#">Referenser</a></li>
        </ul>

    </div>

</div>
