<div
    class="container"
    data-ng-controller="PriceController">

    <div
        class="row">
        <div
            class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <img
                class="img-thumbnail shadow"
                src="/Assets/IMG/TMP/person.jpg"
                style="width: 100%; margin: 0;" />
        </div>

        <div
            class="col-xs-12 col-sm-7 col-md-7 col-lg-7"
            style="padding-left: 10px">

            <h1
                id="price-title"
                contenteditable="true"
                data-ng-model="texts['price-title'][0].text"
                data-compile="texts['price-title'][0].text"></h1>
            <div
                id="price-short"
                contenteditable="true"
                data-ng-model="texts['price-short'][0].text"
                data-compile="texts['price-short'][0].text">
            </div>
            <h5>
                <a>
                    <span
                        id="price-read-more"
                        contenteditable="true"
                        data-ng-model="texts['price-read-more'][0].text"
                        data-compile="texts['price-read-more'][0].text"></span>
                </a>
            </h5>
        </div>
    </div>

    <div 
        style="text-align: right">
        <button 
            class="btn btn-danger btn-lg" 
            data-ng-click="save()">Spara ändringar</button>
    </div>

</div>
